{:paths ["src"]
 :deps {com.github.lxbr/effing {:git/url "https://github.com/lxbr/effing"
                                :sha "94c062d1a15513c9b5d8ecda69d3b767149114cb"}}
 :aliases
 {:local {:override-deps {com.github.lxbr/effing {:local/root "../effing"}}}}}
